@charset "UTF-8";

/* Estilo geral da página */
body {
    font-family: "DynaPuff", system-ui;
    background: url('../image/fundo15.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 10;
    padding: 0;
    flex-direction: column;
    height: 100vh;
}
/*site responsivo*/
.body {
    display: flex;
    width:100%;
    justify-content: space-around;
  }
  @media screen and (max-width: 768px){
      .body{
          width:100%;
          flex-direction: column;
          background: url('../image/fundo15.jpg')no-repeat center center fixed;
          background-size: cover;
               }
  }

/* Cabeçalho */
#header {
         background: url('/educacaoComDiversao/static/image/fundo15.jpg')no-repeat 300px;
        background: size cover;
        padding: 10px;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items:first baseline;
    }


#user-info {
    color: rgb(0, 0, 0);
    top: 40;
    position: relative; 
    left: 1000px;;
    font-size: 20px;
    color:	#9429c9;
}


/* Conteúdo principal */
#content {
    display: flex;
    flex-grow: 5;
    justify-content: center;
}

#display {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/ED/static/fundo12.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 83, 4, 0.966);
}



/* Menu de botões */
#menu {
    width: 250px;
    height: 80%;
    background-size: cover;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Botões */
.menu-button {
    width: 245px;
    height: 90px;
    margin: 10px 0;
    position:relative;
    top:18px;
    opacity: 2;
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #a647ff;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: "DynaPuff", system-ui;
}

.menu-button:hover {
    transform: scale(1.14);
    background-color:#FF4500;
}
